accelerate==1.3.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.12
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.6.2.post1
attrs==24.2.0
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.3
blinker==1.9.0
boto3==1.36.16
botocore==1.36.16
browser-use==0.1.35
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
courlan==1.3.2
dateparser==1.2.1
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
diffusers==0.32.2
distro==1.9.0
ecdsa==0.19.0
fastapi==0.109.2
ffmpeg-python==0.2.0
filelock==3.16.1
filetype==1.2.0
fireworks-ai==0.15.12
Flask==3.1.0
frozenlist==1.4.1
fsspec==2024.10.0
future==1.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-speech==2.28.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
gotrue==2.11.3
greenlet==3.1.1
grpcio==1.67.0
grpcio-status==1.67.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html2text==2024.2.26
htmldate==1.9.3
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
httpx-ws==0.7.1
huggingface-hub==0.26.1
hyperframe==6.1.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.6.1
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jusText==3.0.1
langchain==0.3.14
langchain-anthropic==0.3.3
langchain-aws==0.2.12
langchain-core==0.3.34
langchain-fireworks==0.2.7
langchain-google-genai==2.0.8
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-text-splitters==0.3.6
langsmith==0.2.11
llvmlite==0.44.0
lmnr==0.4.59
lxml==5.3.0
lxml_html_clean==0.4.1
MainContentExtractor==0.0.4
markdownify==0.14.1
MarkupSafe==3.0.2
monotonic==1.6
more-itertools==10.6.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.1.0
mypy==1.8.0
mypy-extensions==1.0.0
networkx==3.4.2
numba==0.61.0
numpy==2.1.3
oauthlib==3.2.2
ollama==0.4.7
openai==1.61.1
openai-whisper==20240930
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-langchain==0.38.4
opentelemetry-instrumentation-requests==0.51b0
opentelemetry-instrumentation-sqlalchemy==0.51b0
opentelemetry-instrumentation-threading==0.51b0
opentelemetry-instrumentation-urllib3==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-semantic-conventions-ai==0.4.2
opentelemetry-util-http==0.51b0
orjson==3.10.15
packaging==24.1
pathspec==0.12.1
pillow==11.0.0
playwright==1.50.0
postgrest==0.19.3
posthog==3.11.0
proglog==0.1.10
propcache==0.2.0
proto-plus==1.24.0
protobuf==5.28.2
psutil==6.1.1
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyee==12.1.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv>=1.0.1
python-jose==3.3.0
python-multipart==0.0.7
pytube==15.0.0
pytz==2025.1
PyYAML==6.0.2
realtime==2.3.0
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rsa==4.9
s3transfer==0.11.2
safetensors==0.5.2
setuptools==75.8.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
starlette==0.36.3
storage3==0.11.3
StrEnum==0.4.15
stripe==11.5.0
supabase==2.13.0
supafunc==0.9.3
sympy==1.13.1
tenacity==9.0.0
tiktoken==0.8.0
tld==0.13
tokenizers==0.21.0
torch==2.6.0
tqdm==4.66.5
trafilatura==2.0.0
transformers==4.48.3
types-requests==2.31.0.20240218
typing_extensions==4.12.2
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.27.1
websockets==14.2
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yamllint==1.35.1
yarl==1.18.3
yt-dlp==2025.1.26
zipp==3.21.0
