# Web フレームワーク
fastapi==0.109.2
uvicorn==0.27.1

# 環境変数
python-dotenv>=1.0.1

# ファイルアップロード
python-multipart==0.0.7

# YouTube動画ダウンロード
pytube==15.0.0
yt-dlp==2025.1.26

# HTTP通信
requests==2.32.3
aiohttp==3.11.12

# データベース
supabase==2.13.0

# S3ストレージ
boto3==1.36.16
